body {
    margin-top: 25px;
    font-size: 32px;
}

.container {
    margin: auto;
    width: 20em;
    align-content: center;
}

#board {
    width: 11em;
    height: 11em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.cell {
    width: 1.1em;
    height: 1.1em;
    background-color: antiquewhite;
    text-align: center;
    vertical-align: middle;
}
